apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: "{{ app }}"
  name: "{{ item.config_name }}"
  namespace: "{{ namespace }}"
data:
{% for f in item.files %}
  {{ f.split('/')[-1] }}: |
    {% for line in lookup('file', f).splitlines() %}{{ line.rstrip() }}
    {% endfor %}

{% endfor %}
