apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ item.name }}
  namespace: {{ namespace }}
spec:
  accessModes:
  - {{ item.storage_access | default('ReadWriteOnce') }}
  resources:
    requests:
      storage: {{ item.storage_size }}
  storageClassName: {{ storage_type }}
