---
apiVersion: authorization.openshift.io/v1
kind: RoleBinding

metadata:
  name: "{{ item.name }}"
  namespace: "{{ namespace }}"

roleRef:
  name: "{{ item.role }}"

subjects:
{% for sa in item.service_accounts | default([]) %}
- kind: 'ServiceAccount'
  name: {{ sa }}
{% endfor %}

{% for u in item.users | default([]) %}
- kind: 'User'
  name: {{ u }}
{% endfor %}

{% for g in item.groups | default([]) %}
- kind: 'Group'
  name: {{ g }}
{% endfor %}
