apiVersion: v1
imagePullSecrets:
- name: jenkins-dockercfg-cgqxc
kind: ServiceAccount
metadata:
  labels:
    app: {{ app }}
    template: jenkins-persistent-template
  name: {{ item.service_account }}
  namespace: {{ namespace }}
secrets:
- name: jenkins-token-lptqd
- name: jenkins-dockercfg-cgqxc
