apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app }}
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  ports:
  - port: {{ port }}
    protocol: {{ proto }}
    targetPort: {{ target_port }}
  selector:
    deploymentconfig: {{ app }}

