apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app }}
  name: {{ item.name }}
  namespace: {{ namespace }}
spec:
  ports:
  - port: {{ item.port }}
    protocol: {{ item.proto }}
    targetPort: {{ item.target_port }}
  selector:
    deploymentconfig: {{ app }}

