apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: {{ app }}
  name: {{ app }}
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    deploymentconfig: {{ app }}
  strategy:
    activeDeadlineSeconds: 21600
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        deploymentconfig: {{ app }}
    spec:
      nodeSelector:
        "{{ app }}": "true"
      containers:
      - image: docker-registry.default.svc:5000/jdcasey-testing/indy:latest
        name: {{ app }}
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          requests:
            cpu: 1000m
            memory: 1000Mi
          limits:
            cpu: 1000m
            memory: 1000Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /opt/indy/var
          name: volume-indy
        - mountPath: /opt/indy/etc/indy
          name: volume-indy-config
        - mountPath: /opt/indy/etc/indy/logging
          name: volume-indy-logging-config
      schedulerName: default-scheduler
      volumes:
      - name: volume-indy
        persistentVolumeClaim:
          claimName: {{ data_volume }}
      - name: volume-indy-config
        configMap:
          defaultMode: 420
          name: {{ config_volume }}
      - name: volume-indy-logging-config
        configMap:
          defaultMode: 420
          name: {{ logging_config_volume }}
  test: false
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - {{ app }}
      from:
        kind: ImageStreamTag
        name: indy:latest
        namespace: {{ namespace }}
    type: ImageChange
