apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app }}
  name: {{ app }}-proxy
  namespace: {{ namespace }}
spec:
  ports:
  - name: 8081-proxy
    port: 80
    protocol: TCP
    targetPort: 8081
  selector:
    deploymentconfig: {{ app }}
