apiVersion: v1
items:
- kind: PersistentVolumeClaim
  metadata:
    name: {{ data_volume }}
    namespace: {{ namespace }}
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi
    storageClassName: gp2-encrypted

- kind: ImageStream
  metadata:
    labels:
      app: {{ app }}
    name: {{ app }}
    namespace: {{ namespace }}
  spec:
    tags:
      - from:
          kind: DockerImage
          name: commonjava/indy
        name: latest
        referencePolicy:
          type: Source

- kind: DeploymentConfig
  metadata:
    labels:
      app: {{ app }}
    name: {{ app }}
    namespace: {{ namespace }}
  spec:
    replicas: 1
    selector:
      deploymentconfig: {{ app }}
    strategy:
      activeDeadlineSeconds: 21600
      type: Recreate
    template:
      metadata:
        creationTimestamp: null
        labels:
          deploymentconfig: {{ app }}
      spec:
        nodeSelector:
          "{{ app }}": "true"
        containers:
        - image: docker-registry.default.svc:5000/jdcasey-testing/indy:latest
          name: {{ app }}
          ports:
          - containerPort: 8080
            protocol: TCP
          resources:
            requests:
              cpu: 2000m
              memory: 2000Mi
            limits:
              cpu: 2000m
              memory: 2000Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /opt/indy/var
            name: volume-indy
          - mountPath: /opt/indy/etc/indy
            name: {{ config_volume }}
          - mountPath: /opt/indy/etc/indy/logging
            name: {{ logging_config_volume }}
          # - mountPath: /mnt/secrets
          #   name: volume-secrets
        schedulerName: default-scheduler
        volumes:
        - name: volume-indy
          persistentVolumeClaim:
            claimName: {{ data_volume }}
        - configMap:
            defaultMode: 420
            name: {{ config_volume }}
        - configMap:
            defaultMode: 420
            name: {{ logging_config_volume }}
        # - name: volume-secrets
        #   secret:
        #     defaultMode: 420
        #     secretName: indy
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - {{ app }}
        from:
          kind: ImageStreamTag
          name: indy:latest
          namespace: {{ namespace }}
      type: ImageChange
  status: {}

- kind: Service
  metadata:
    labels:
      app: {{ app }}
    name: {{ app }}
    namespace: {{ namespace }}
  spec:
    ports:
    - name: 80-tcp
      port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      deploymentconfig: {{ app }}
  status:
    loadBalancer: {}

- kind: Service
  metadata:
    labels:
      app: {{ app }}
    name: {{ app }}-proxy
    namespace: {{ namespace }}
  spec:
    ports:
    - name: 8081-proxy
      port: 80
      protocol: TCP
      targetPort: 8081
    selector:
      deploymentconfig: {{ app }}
  status:
    loadBalancer: {}
kind: List
metadata: {}
