apiVersion: v1
kind: Secret
metadata:
  labels:
    app: "{{ app }}"
  name: "{{ config_name }}"
namespace: nos-perf
data:
{% for f in files %}
  {{ f.split()[-1] }}: |
    {{ lookup('file', 'secrets/' + path + '/' + f) | b64encode }}

{% endfor %}
