apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ data_volume }}
  namespace: {{ namespace }}
spec:
  accessModes:
  - {{ storage_access }}
  resources:
    requests:
      storage: {{ storage_size }}
  storageClassName: {{ storage_type }}
