apiVersion: v1
kind: Secret
metadata:
  labels:
    app: "{{ app }}"
  name: "{{ secret_name }}"
namespace: {{ namespace }}
data:
{% for f in files %}
  {{ f.split()[-1] }}: |
    {{ lookup('file', f) | b64encode }}

{% endfor %}
