apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app }}
  name: {{ service_name }}
  namespace: {{ namespace }}
spec:
  ports:
{% for p in ports %}
  - name: {{ p.name }}
    port: {{ p.port }}
    protocol: {{ p.proto }}
    targetPort: {{ p.target_port }}
{% endfor %}
  selector:
    deploymentconfig: {{ app }}

